.btn-menu-aparece{
	margin-left: -130px;
}

.menu-lateral{
		margin-left:-130px;
}

/*DIVS
.section-all.videos{
	display: none;
}
*/

.esquenta{
	display: none;
}

#btn-esquenta{

	display: none;
}


.section-all.cobertura{

/*	display: none;
*/
}

#btn-aoVivo{
	display: none;
/*	display: none;
*/
}

.galleria{
	width: 100%;
	height: 800px;
	background: #000;
}
